body {
background: black;
}


.meniul {
 position: relative;
 max-width: 800px;
 margin: 0 auto;
}

.meniul .meniul2{
 position: absolute;
 bottom: 0;
 background: rgb(0, 0, 0);
 background: rgba(0, 0, 0, 0.5);
 color: #f1f1f1;
 width: 115%;
 padding: 20px;
}
 @media screen and (max-width: 360px) {
.meniul {
 position: relative;
 max-width: 350px;
 margin: 0 auto;
}
}
