* {
  box-sizing: border-box;
}

body {
  background: blue;
  font-family: Arial;
  font-size: 17px;
}


.meniul {
 position: relative;
 max-width: 75%;
 margin: 0 auto;
}
.meniul img {vertical-align: middle;}

.meniul .meniul2{
 position: absolute;
 bottom: 0;
 background: rgb(0, 0, 0);
 background: rgba(0, 0, 0, 0.5);
 color: #f1f1f1;
 width: 100%;
 padding: 20px;
}
